<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout" layout:decorate="~{layout}"
      xmlns:x-bind="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<div layout:fragment="content">
    <div x-data="initData()">
        <h2>Liste des commandes</h2>
        </hr>
            <div class="pb-3">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Commande Id</th>
                        <th scope="col">Commande status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <template x-for="commande in commandes">
                        <tr>
                            <td><a x-bind:href="'/commandes/'+commande.commandeNum" x-text="commande.commandeNum"></a></td>
                            <td x-text="commande.status">Status</td>
                        </tr>
                    </template>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div layout:fragment="pageScripts">
    <script src="/js/commandes.js"></script>
</div>
</body>
</html>