<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
</head>
<body>
<div layout:fragment="content">
    <div th:x-data="|initData('${commandeNum}')|">
        <!-- Afficher un message d'erreur si la requête échoue -->
        <div x-show="error" class="alert alert-danger" role="alert">
            <span x-text="error"></span>
        </div>

        <!-- Afficher les détails de la commande si aucune erreur -->
        <div x-show="!error">
            <h2>Votre commande a été placée avec succès</h2>
            <h4>Numéro de commande : <span x-text="commandeDetails.commandeNum">Commande Numéro</span></h4>
            <h4>Statut de la commande : <span x-text="commandeDetails.status">Commande Statut</span></h4>
            <hr/>
            <div class="pb-3">
                <!-- Tableau des items -->
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Quantité</th>
                        <th scope="col">Prix total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <template x-for="item in commandeDetails.items">
                        <tr>
                            <td x-text="item.nom">Nom</td>
                            <td x-text="item.prix">Prix</td>
                            <td x-text="item.quantite">Quantité</td>
                            <td x-text="item.quantite * item.prix">Prix total</td>
                        </tr>
                    </template>
                    <!-- Message si aucun item -->
                    <tr x-show="!commandeDetails.items || commandeDetails.items.length === 0">
                        <td colspan="4" class="text-center">Aucun article dans cette commande.</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th colspan="3">Total</th>
                        <th colspan="1">
                            Montant total : <span x-text="commandeDetails.totalMontant">0</span>
                        </th>
                    </tr>
                    </tfoot>
                </table>
                <form class="row g-3" method="post" @submit.prevent="creerCommande">
                    <div class="col-md-6">
                        <label class="form-label">Client Nom</label>
                        <input type="text" class="form-control" x-model="commandeDetails.client.nom" readonly>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Client Prénom</label>
                        <input type="text" class="form-control" x-model="commandeDetails.client.prenom" readonly>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Client Email</label>
                        <input type="email" class="form-control" x-model="commandeDetails.client.email" readonly>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Client Téléphone</label>
                        <input type="text" class="form-control" x-model="commandeDetails.client.telephone" readonly>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Adresse de Livraison 1</label>
                        <input class="form-control" x-model="commandeDetails.livraisonAddresse.addresse1" readonly>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Adresse de Livraison 2</label>
                        <input class="form-control" x-model="commandeDetails.livraisonAddresse.addresse2" readonly>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Code Postal</label>
                        <input class="form-control" x-model="commandeDetails.livraisonAddresse.addressePostal" readonly>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Ville de Livraison</label>
                        <input class="form-control" x-model="commandeDetails.livraisonAddresse.ville" readonly>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Région de Livraison</label>
                        <input class="form-control" x-model="commandeDetails.livraisonAddresse.region" readonly>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Pays de Livraison</label>
                        <input class="form-control" x-model="commandeDetails.livraisonAddresse.pays" readonly>
                    </div>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary">Passer la commande</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div layout:fragment="pageScripts">
    <script src="/js/commandeDetails.js"></script>
</div>
</body>
</html>