<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta content="width=device-width initial-scale=1 minimal-scale=1 user-scalable=no" name="viewport"/>
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.5/css/bootstrap.css"/>
    <link rel="stylesheet" href="/webjars/font-awesome/6.7.2/css/all.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<main>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-band" href="#" th:href="@{/}">Kitabe
            </a>
            <bouton class="navbar-toggler" type="button" data-bs-toogle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="#navbarSupportedContent" aria-expanded="false" aria-label="toogle navigateur">
                <span class="navbar-toggler-icon"></span>
            </bouton>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/commande}">Commande</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/panier">
                            Panier<span id="cart-item-count">(0)</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" id="app">
        <div layout:fragment="content">

        </div>
    </div>
</main>

<script src="/webjars/jquery/3.7.1/jquery.js"></script>
<script src="/webjars/bootstrap/5.3.5/js/bootstrap.bundle.js"></script>
<script defer src="/webjars/alpinejs/3.14.9/dist/cdn.min.js"></script>
<script src="/js/panierStore.js"></script>
<div layout:fragment="pageScripts">
</div>
</body>
</html>