<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
</head>
<body>
<div layout:fragment="content">
    <div x-data="panier">
        <div class="col-md-8 offset-md-2">
            <div x-show="panier.item.length === 0" class="pb-3">
                <p>Votre panier est vide.</p>
            </div>
            <div x-show="panier.item.length > 0" class="pb-3">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Quantité</th>
                        <th scope="col">Prix total</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <template x-for="item in panier.item">
                        <tr>
                            <td x-text="item.nom">Nom</td>
                            <td x-text="item.prix">Prix</td>
                            <td>
                                <input type="number" x-model.number="item.quantite" min="0"
                                       @change="updateItemQuantite(item.code, $event.target.value)"/>
                            </td>
                            <td x-text="item.quantite * item.prix">Prix total</td>
                            <td>
                                <button class="btn btn-danger" @click="removeFromPanier(item.code)">Supprimer</button>
                            </td>
                        </tr>
                    </template>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th colspan="3">Total</th>
                        <th colspan="2" x-text="panier.totalMontant">Montant total</th>
                    </tr>
                    </tfoot>
                </table>
                <form class="row g-3" method="post" @submit.prevent="creerCommande">
                    <div class="col-md-6">
                        <label for="clientNom" class="form-label">Client Nom</label>
                        <input type="text" class="form-control" id="clientNom" x-model="commandeForm.client.nom"
                               name="clientNom">
                    </div>
                    <div class="col-md-6">
                        <label for="clientPrenom" class="form-label">Client Prenom</label>
                        <input type="text" class="form-control" id="clientPrenom" x-model="commandeForm.client.prenom"
                               name="clientPrenom">
                    </div>
                    <div class="col-md-6">
                        <label for="clientMail" class="form-label">Client Email</label>
                        <input type="email" class="form-control" id="clientMail" x-model="commandeForm.client.email"
                               name="clientEmail">
                    </div>
                    <div class="col-md-6">
                        <label for="clientTelephone" class="form-label">Client Téléphone</label>
                        <input type="text" class="form-control" id="clientTelephone" x-model="commandeForm.client.telephone"
                               name="clientTelephone">
                    </div>
                    <div class="col-md-6">
                        <label for="livraisonAddresse1" class="form-label">Adresse de Livraison 1</label>
                        <input class="form-control" id="livraisonAddresse1" name="livraisonAddresse1"
                               x-model="commandeForm.livraisonAddresse.addresse1">
                    </div>
                    <div class="col-md-6">
                        <label for="livraisonAddresse2" class="form-label">Adresse de Livraison 2</label>
                        <input class="form-control" id="livraisonAddresse2" name="livraisonAddresse2"
                               x-model="commandeForm.livraisonAddresse.addresse2">
                    </div>
                    <div class="col-md-6">
                        <label for="livraisonAddressePostal" class="form-label">Code Postal</label>
                        <input class="form-control" id="livraisonAddressePostal" name="livraisonAddressePostal"
                               x-model="commandeForm.livraisonAddresse.addressePostal">
                    </div>
                    <div class="col-md-6">
                        <label for="livraisonAddresseVille" class="form-label">Ville de Livraison</label>
                        <input class="form-control" id="livraisonAddresseVille" name="livraisonAddresseVille"
                               x-model="commandeForm.livraisonAddresse.ville">
                    </div>
                    <div class="col-md-6">
                        <label for="livraisonAddresseRegion" class="form-label">Région de Livraison</label>
                        <input class="form-control" id="livraisonAddresseRegion" name="livraisonAddresseRegion"
                               x-model="commandeForm.livraisonAddresse.region">
                    </div>
                    <div class="col-md-6">
                        <label for="livraisonAddressePays" class="form-label">Pays de Livraison</label>
                        <input class="form-control" id="livraisonAddressePays" name="livraisonAddressePays"
                               x-model="commandeForm.livraisonAddresse.pays">
                    </div>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary">Passer la commande</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div layout:fragment="pageScripts">
</div>
</body>
</html>