<div th:fragment="pagination">
    <!-- Affiche la pagination uniquement s'il y a plusieurs pages -->
    <template x-if="produits.totalPages > 1">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <!-- Première page -->
                <li class="page-item" :class="{ 'disabled': produits.isFirst }">
                    <a class="page-link" href="#" @click.prevent="loadProduit(1)">Premiere</a>
                </li>
                <!-- Page précédente -->
                <li class="page-item" :class="{ 'disabled': !produits.isLast }">
                    <a class="page-link" href="#" @click.prevent="loadProduit(produits.pageNumero - 1)">Precedent</a>
                </li>
                <!-- Page suivante -->
                <li class="page-item" :class="{ 'disabled': !produits.hasNext }">
                    <a class="page-link" href="#" @click.prevent="loadProduit(produits.pageNumero + 1)">Suivant</a>
                </li>
                <!-- Dernière page -->
                <li class="page-item" :class="{ 'disabled': produits.hasPrevious }">
                    <a class="page-link" href="#" @click.prevent="loadProduit(produits.totalPages)">Derniere</a>
                </li>
            </ul>
        </nav>
    </template>
</div>